
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
::selection
{
    background-color: #5352ed;
    color: #fff;
}
body
{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #5352ed;
}
.wrapper
{
    width: 30%;
    min-width: 400px;
    padding: 40px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0);
    position: relative;
}
.wrapper::before
{
    content: '';
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #bfbfbf;
}
.wrapper .col .text
{
    position: relative;
    font-size: 28px;
    text-align: center;
    font-weight: 600;
    bottom: 8px;
    color: #5352ed;
}
.wrapper .col .s6
{
    margin-top: 30px;

}
.wrapper .col .s6 .sm
{
    font-size: 15px;
    margin-bottom: 10px;
    font-weight: 500;
    padding-left: 2px;
}
.wrapper .col .s6 input
{
    width: 100%;
    height: 45px;
    border: 2px solid #bfbfbf;
    outline: none;
    border-radius: 4px;
    padding-left: 10px;
    font-size: 18px;
    transition: all 0.4s ease;
}
.wrapper .col .s6 input:focus
{
    background-color: #5352ed;

}
.wrapper .col .s6 .icon
{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;

}
.wrapper .col .transfer .icon span
{
    font-size: 28px;
    color: #2f3542;
}
.wrapper .col .s6  .transfer .select-text
{
    width: 90px;
    height: 35px;
    padding-left: 6px;
    outline: none;
    border:  2px solid #bfbfbf;
    border-radius: 5px;
}
.wrapper .col .s6  .transfer .select-text:focus
{
    background-color: #5352ed;
}
.wrapper .col .s6  .button
{
    margin-top: 10px;

}
.wrapper .col .s6  .button .btn{
    width: 100%;
    height: 45px;
    background: #5352ed;
    border: none;
    outline: none;
    font-size: 20px;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
}
.wrapper .col .s6 .s2
{
     margin-top: -20px;
}
.wrapper .col .s6 .s2 .conversion
{
    font-size: 20px;
   
}
.pm
{
    position: relative; 
    font-size: 15px;
    margin-bottom: 10px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    top: -45px;

     
}
#exchange-rate
{
    position: relative;
    width: 100%;
    font-size: 15px;
    margin-bottom: 10px;
    font-weight: 500;
    padding-left: 2px;
    width: 100%;
    top: -40px;
}
#exchange span
{
    position: relative;
    color: #5352ed;
    font-size: 30px;
    font-weight: 700;
    top:-30px;
    left: 145px;
}
.wrapper #from_currency
{
    position: relative;
    top: 12px;
    
    
}
.wrapper #to_currency
{
    position: relative;
    top: -60px;
    left: 230px;
}
.wrapper #from
{
    position: relative;
    bottom: 14px;
}
.wrapper #to
{
    position: relative;
    bottom: 10px;
}